{% extends 'cardapio/base.html' %}

{% block content %}
    <!-- Botão voltar -->
    {% include 'cardapio/partials/voltar.html' %}

    <!-- Detalhes da Pizza -->
    {% include 'cardapio/partials/detalhe_pizza_info.html' with pizza=pizza custo_total_ingredientes=custo_total_ingredientes %}

    <!-- Ingredientes -->
    {% include 'cardapio/partials/ingredientes_lista.html' with ingredientes=ingredientes %}

    <!-- Modo de preparo -->
    {% include 'cardapio/partials/preparo.html' with pizza=pizza %}

    <!-- Mensagem da Nonna -->
    {% include 'cardapio/partials/mensagem_nonna.html' %}
{% endblock %}
