{% extends 'cardapio/base.html' %}

{% block content %}
    <!-- Título principal -->
    {% include 'cardapio/partials/titulo.html' %}

    <!-- Seção de Pizzas Salgadas -->
    {% include 'cardapio/partials/secao_pizzas.html' with titulo="Pizzas Salgadas 🧄" icone="fas fa-lemon" cor="green" pizzas=pizzas_salgadas vazio="Nenhuma pizza salgada disponível no momento." %}

    <!-- Seção de Pizzas Doces -->
    {% include 'cardapio/partials/secao_pizzas.html' with titulo="Pizzas Doces 🍫" icone="fas fa-ice-cream" cor="pink" pizzas=pizzas_doces vazio="Nenhuma pizza doce disponível no momento." %}
{% endblock %}
