{% extends "cardapio/base.html" %}

{% block content %}
  {% include "cardapio/partials/title_block.html" with
      titulo="Nosso Cardápio"
      subtitulo="🍅 Pizzas feitas com amor pela Nonna Maria! 🍅"
      only
  %}

  {% include "cardapio/partials/pizza_section.html" with
      titulo_secao="Pizzas Salgadas 🧄"
      lista_pizzas=pizzas_salgadas
      mensagem_vazia="Nenhuma pizza salgada disponível no momento."
      only
  %}

  {% include "cardapio/partials/pizza_section.html" with
      titulo_secao="Pizzas Doces 🍫"
      lista_pizzas=pizzas_doces
      mensagem_vazia="Nenhuma pizza doce disponível no momento."
      only
  %}
{% endblock %}