{% extends 'cardapio/base.html' %}

{% block content %}
    <!-- Botão voltar -->
    {% include 'cardapio/partials/voltar.html' %}

    <!-- Título da página -->
    {% include 'cardapio/partials/titulo_ingredientes.html' %}

    <!-- Lista de ingredientes por categoria -->
    {% for tipo in tipos_ingredientes %}
        {% include 'cardapio/partials/secao_ingredientes.html' with tipo=tipo %}
    {% empty %}
    <div class="text-center p-10 bg-yellow-50 rounded-xl shadow-md">
        <i class="fas fa-exclamation-circle text-yellow-600 text-4xl mb-2"></i>
        <p class="text-lg font-semibold">Ops! Ainda não temos ingredientes cadastrados.</p>
        <p class="text-gray-600">Vá no painel administrativo para adicionar alguns!</p>
    </div>
    {% endfor %}

    <!-- Informação explicativa -->
    {% include 'cardapio/partials/explicacao_precos.html' %}
{% endblock %}
